<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chọn phương thức thanh toán</title>
</head>
<body>

<h2>Chọn phương thức thanh toán</h2>

<form method="post"
      th:action="@{/checkout/payment/{id}(id=${hoaDonId})}">

    <div th:each="m : ${methods}">
        <label>
            <input type="radio"
                   name="ptttId"
                   th:value="${m.id}"
                   required>
            <b th:text="${m.ten}"></b>
            <span th:text="' - ' + ${m.moTa}"></span>
        </label>
        <br><br>
    </div>

    <button type="submit">Xác nhận thanh toán</button>
</form>

</body>
</html>
